@import play.mvc.Http.Request
@import helper._
@main("Welcome to Play") {
   <div style="position: absolute;top: 0;left: 0;height: 100%;width: 100%;display: flex;justify-content: center">

        <div style="flex-direction: column;
            display: flex;">
            <div style="    border: 4px dashed purple;
                height: fit-content;
                margin-top: 2em;
                width: 55em;
                text-align: center;">
                <h3 style="color: red">Welcome to YouTubeAnalyzer</h3>

                <div style="margin-bottom: 1em">
                @helper.form(action = routes.HomeController.search()){
                }
                    <input type="text" style="border-color: cornflowerblue;
                        outline: none;
                        font-size: 0.8em;padding: 8px;width: 18em;display: inline-block" placeholder="(Enter search terms)" id="searchBox"/>
                    <a style="display: inline-block;
                        margin-left: 10px;
                        border: 2px solid cornflowerblue;
                        padding: 6px;
                        border-radius: 50%;
                        color: red;
                        cursor: pointer;
                        font-weight: 700;" href='/' id="go">Go!</a>
                </div>
            </div>

}
